/target
target/
/python/patronus_security/_patronus_security*.so
/python/patronus_security/*.so
/python/patronus_security/*.pyd
/python/patronus_security/*.dll
/python/patronus_security/*.dylib
/python/build
/python/dist
/python/target
/python/.pytest_cache
.DS_Store
**/.DS_Store
*.pyc
__pycache__/
**/__pycache__/
.venv/
.venv311/
venv/
*.egg-info/
.mypy_cache/
.ruff_cache/
*.so
*.dylib
*.pyd
benchmarks/**
benchmarks/legacy_*
benchmarks/__pycache__/
!benchmarks/standalone_*
